@using static ASP6_SinAuth.Controllers.TestsController
@model TestEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="technicianId" />
            <input type="hidden" asp-for="testId" />

            <div class="form-group">
                <label asp-for="comment" class="control-label"></label>
                <input asp-for="comment" class="form-control" />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="result" class="control-label"></label>
                <input asp-for="result" class="form-control" />
                <span asp-validation-for="result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
